<section>
    <mat-card>
          
        <img mat-card-image style="width: 37%;float:left;" src="http://reciplast.mx/masc/logoSpaceMathsBlue.png">   
        <mat-card-title>
                <h1 style="color:#112868;padding-right:80px;font-size:45px;">Registro</h1>
            </mat-card-title>         
        <form (ngSubmit)='signup' #loginForm="ngForm" style="margin-top:24%;;">
            <div>
                <mat-form-field>
                    <input type='text' #name ngModel [(ngModel)]='user.name' name='name' matInput placeholder="Nombres" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='email'  #apellidos ngModel [(ngModel)]='user.lastname' name='lastname' matInput placeholder="Apellidos" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='email' #email ngModel [(ngModel)]='user.email' name='email' matInput placeholder="Email" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                    <mat-select #grupo ngModel [(value)]="user.grupo" [(ngModel)]='user.grupo' name='grupo' placeholder="Grupo" >
                    <mat-option value='A'>A</mat-option>
                    <mat-option value='B'>B</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='password' #password ngModel [(ngModel)]='user.password' name='password' matInput placeholder="Password" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='password' ngModel [(ngModel)]='user.confirmationpassword' name='confirmpassword' matInput placeholder="Confirmar password" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)='auth.signup(email.value, password.value); this.registerTeacher(name.value, apellidos.value, email.value, user.grupo)' class="default-primary-color">Registro</button>
            </div>
        </form>
    </mat-card>
</section>