<section>
    <mat-card>
        <form (ngSubmit)='signup' #loginForm="ngForm">
            <div>
                <h1 >Registro</h1>
            </div>
            <div>
                <mat-form-field>
                    <input type='text' ngModel [(ngModel)]='user.name' name='name' matInput placeholder="nombres" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='email' ngModel [(ngModel)]='user.lastname' name='lastname' matInput placeholder="apellidos" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='email' #email ngModel [(ngModel)]='user.email' name='email' matInput placeholder="email" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='password' #password ngModel [(ngModel)]='user.password' name='password' matInput placeholder="password" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input type='password' ngModel [(ngModel)]='user.confirmationpassword' name='confirmpassword' matInput placeholder="confirmar password" required>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)='auth.signup(email.value, password.value)' class="default-primary-color"><p class="text-primary-color">Registro</p></button>
                <button mat-raised-button (click)='auth.logout()' class="default-primary-color"><p class="text-primary-color">logout</p></button>
            </div>
        </form>
    </mat-card>
</section>