
    <mat-grid-list cols="4" rowHeight="1:1" style="margin-top:-49px;">
        <mat-grid-tile colspan="1" rowspan="2">
            <mat-card id="datosUsuario">
                <mat-card-title>DATOS DE MAESTRO</mat-card-title>
                <img mat-card-image src="{{mascota}}" style="width:100%;">
                <mat-card-subtitle style="font-size:25px;" >Bienvenido</mat-card-subtitle>
                <mat-card-subtitle style="font-size:20px;" >{{nombre}} {{apellido}}</mat-card-subtitle>
                <mat-card-subtitle style="font-size:24px;" >1 Primaria</mat-card-subtitle>
                <mat-card-subtitle style="font-size:22px;" >Grupo: {{grupo}}</mat-card-subtitle>
                <mat-card-title style="COLOR:gray;">Colegio Miguel Hidalgo y Costilla</mat-card-title>
                <mat-card-title style="COLOR:gray;">C R E C E R</mat-card-title>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="avisos">
                <mat-card-title>TEMAS DIFICILES</mat-card-title>
                <baseChart></baseChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="avisos">
                <mat-card-title>TEMAS INTERMEDIOS</mat-card-title>
                <dnutChart></dnutChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="avisos">
                <mat-card-title>TEMAS FACILES</mat-card-title>
                <dnutChart></dnutChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="graficas">
                <mat-card-title>DESEMPEÑO GRUPAL</mat-card-title>
                <dnutChart></dnutChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="graficas">
                <mat-card-title>COMPARATIVO</mat-card-title>
                <baseChart></baseChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card id="graficas">
                <mat-card-title>TIEMPO</mat-card-title>
                <dnutChart></dnutChart>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">    
        <table  *ngIf='dataLoaded' [dataSource]="dataSource" style="width:70%;max-height:90%;background-color:rgba(255, 255, 255, 0.85);min-height:85%;border-radius: 8px;"></table>
            

        </mat-grid-tile>
    </mat-grid-list>