<mat-card>
    <img mat-card-image style="width: 40%;float:left;" src="http://reciplast.mx/masc/logoSpaceMathsBlue.png">       
    <mat-card-title><h2 style="color:#112868;margin-right:25px;">Bienvenido</h2></mat-card-title>
    <br>
    <form class="sigin-form">
    <mat-form-field class="example-full-width">
      <input #email type="email" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input #password type="password" matInput placeholder="Contraseña">
    </mat-form-field><br>
    <mat-checkbox>Recordar Usuario</mat-checkbox><br>
    <button (click)='auth.login(email.value, password.value)' style="color:white;" mat-button>LogIn</button>
  </form></mat-card>
